$spriteSrc:'../img/sprite.png';
	$icon-a-2x : 122px 0px -122px 0px 37px 53px 159px 116px $spriteSrc ;
	$icon-b-2x : 0px 0px 0px 0px 56px 53px 159px 116px $spriteSrc ;
	$icon-c-2x : 66px 0px -66px 0px 46px 53px 159px 116px $spriteSrc ;
	$icon-d-2x : 0px 63px 0px -63px 32px 53px 159px 116px $spriteSrc ;
